.wrap {
  width: 980px;
  margin: 0 auto; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem; }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a :visited {
    color: #000; }
  a:hover {
    opacity: .6; }

li {
  list-style: none; }

img {
  max-width: 100%;
  max-height: 100%; }

input[type="text"] {
  padding: .5rem;
  border: solid 1px #ccc;
  border-radius: 3px; }

.l-pager {
  margin-top: 2rem; }

h1 {
  text-align: center;
  font-size: 3rem; }

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 6rem; }

.pagenav {
  display: flex;
  justify-content: space-between; }

button {
  display: inline-block;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: .5rem .5rem;
  text-decoration: none;
  background-color: #6495ed;
  color: #fff;
  font-weight: bold; }
  button:hover {
    opacity: .6; }

#header .header__inner {
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav > li:not(:first-child) {
    margin-left: 20px; }

.menu {
  width: 500px;
  margin: 7rem auto 0 auto; }
  .menu h2.menu__title {
    text-align: center;
    font-size: 2.5rem; }
  .menu .menu__list {
    display: flex;
    justify-content: center;
    margin-top: 5rem; }
    .menu .menu__list > li {
      flex: 1;
      text-align: center; }
      .menu .menu__list > li .menu__item {
        display: inline-block;
        background-color: #fff;
        border: solid 1px #ccc;
        border-radius: 3px;
        padding: .5rem 5rem;
        text-decoration: none; }

.l-departmentlist {
  margin-top: 3rem; }

.departmentlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto; }
  .departmentlist > li {
    flex-shrink: 0;
    width: 33%;
    padding: .5rem; }
    .departmentlist > li .departmentlist__item {
      width: 100%; }

.l-freeword {
  margin-top: 3rem; }

.freeword {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 0 auto; }
  .freeword .freeword__input {
    width: 300px;
    height: 100%;
    flex-shrink: 0; }
  .freeword .freeword__btn {
    flex-shrink: 0;
    margin-left: 1rem; }

.l-memberlist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 4rem; }
  .l-memberlist > li {
    display: flex;
    justify-content: center;
    width: 190px;
    margin: 0 1rem 5rem; }

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px; }

.result-message {
  font-size: 2rem;
  font-weight: bold; }

.memberlist {
  display: block;
  width: 190px;
  padding: .5rem;
  background-color: #fffacd;
  border-radius: 3px;
  text-align: center; }
  .memberlist .memberlist__img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    text-align: center; }
  .memberlist .memberlist__name {
    text-align: center;
    font-size: 2rem;
    font-weight: bold; }

.pager {
  display: flex;
  justify-content: center;
  align-items: center; }
  .pager .pager__page {
    margin: 0 15px; }

.memberinfo {
  display: flex;
  justify-content: center; }
  .memberinfo .memberinfo__img {
    flex-shrink: 0;
    width: 300px; }
  .memberinfo .memberinfo__info {
    margin-left: 2rem; }
    .memberinfo .memberinfo__info .memberinfo__info__body {
      margin-top: 3rem; }

.memberinfo-title {
  text-align: center; }
  .memberinfo-title .memberinfo-title__name {
    display: block;
    font-size: 2rem; }
  .memberinfo-title .memberinfo-title__sub {
    display: block;
    font-size: 1.4rem;
    font-weight: normal; }

.infotable {
  border-collapse: separate;
  border-spacing: 1rem; }
  .infotable .infotable__header {
    text-align: right; }

.l-game-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 2rem; }

.l-btn-start {
  margin-top: 3rem; }

#card {
  margin: 20px;
  width: 100%;
  height: 200px;
  list-style: none; }

#card li {
  margin: 10px;
  width: 150px;
  height: 150px;
  float: left;
  position: relative;
  cursor: pointer; }

#card li img {
  position: absolute; }

#card li.is-disabled, #card li.is-locked {
  pointer-events: none; }

.radiolist {
  margin: 2rem auto 0 auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap; }
  .radiolist > li {
    width: 33%; }

.game-text {
  text-align: center; }

.btn-start {
  display: block;
  width: 200px;
  margin: 0 auto; }
