.l-game-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 2rem;
}

.l-btn-start {
  margin-top: 3rem;
}

.l-action {
  margin-top: 20px;
}

.game {
  width: 1050px;
  margin: 0 auto;
  .game-title {
    margin-top: 20px;
  }
}

.action {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 15px;
  .action-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

// カードのスタイル
#card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  width: 900px;
  height: 350px;
  list-style: none;
}
#card li {
  margin: 10px;
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
}
#card li img {
  position: absolute;
}
#card li.is-disabled, #card li.is-locked {
  pointer-events : none;
}

.radiolist {
  margin: 2rem auto 0 auto;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  > li {
    width: 33%;
    margin-top: 5px;
  }
}

.game-text {
  text-align: center;
}

.btn-start {
  display: block;
  width: 200px;
  margin: 0 auto;
}