.l-game-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 2rem;
}

.l-btn-start {
  margin-top: 3rem;
}

// カードのスタイル
#card {
  margin: 20px;
  width: 100%;
  height: 200px;
  list-style: none;
}
#card li {
  margin: 10px;
  width: 150px;
  height: 150px;
  float: left;
  position: relative;
  cursor: pointer;
}
#card li img {
  position: absolute;
}
#card li.is-disabled, #card li.is-locked {
  pointer-events : none;
}

.radiolist {
  margin: 2rem auto 0 auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  > li {
    width: 33%;
  }
}

.game-text {
  text-align: center;
}

.btn-start {
  display: block;
  width: 200px;
  margin: 0 auto;
}