#header {
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    .header__inner {
        width: 1050px;
        padding: 10px 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.pagetitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .pagetitle__text {
        display: block;
        margin-left: 5px;
        font-size: 22px;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > li:not(:first-child) {
        margin-left: 20px;
    }
}