.l-memberinfo {
    margin: 60px auto 0 auto;
    width: 1050px;
}

.l-gotop {
    margin-top: 40px;
}

.memberinfo {
    display: flex;
    justify-content: center;
    width: 750px;
    margin:  0 auto;
    padding: 30px 10px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 15px;
    .memberinfo__img {
        flex-shrink: 0;
        width: 250px;
        > img {
            border-radius: 5px;
        }
    }
    .memberinfo__info {
        margin-left: 2rem;
        .memberinfo__info__body {
            margin-top: 3rem;
        }
    }
}
.memberinfo-title {
    text-align: center;
    .memberinfo-title__name {
        display: block;
        font-size: 2rem;
    }
    .memberinfo-title__sub {
        display: block;
        margin-top: 5px;
        font-size: 1.4rem;
        font-weight: normal;
    }
}

.infotable {
    border-collapse: separate;
    border-spacing: 1rem;
    .infotable__header {
        padding: 5px 0;
        font-weight: bold;
        text-align: right;
    }
    .infotable__body {
        padding: 5px 0 5px 10px;
    }
}
.gotop {
    text-align: center;
    font-weight: bold;
}