// Memberlistのスタイル
.l-memberlist {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 4rem;
    > li {
        display: flex;
        justify-content: center;
        width: 190px;
        margin: 0 1rem 5rem;
    }
}
.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
}
.result-message {
    font-size: 2rem;
    font-weight: bold;
}
.memberlist {
    display: block;
    width: 190px;
    padding: .5rem;
    background-color: #fffacd;
    border-radius: 3px;
    text-align: center;
    .memberlist__img {
        width: 170px;
        height: 170px;
        margin: 0 auto;
        text-align: center;
    }.memberlist__name {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
}
.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    .pager__page {
        margin: 0 15px;
    }
}
.btn-pager {
    visibility: visible;
    &.is-hidden {
        visibility: hidden;
    }
}