// Memberlistのスタイル
.l-memberlist {
    display: flex;
    width: 1050px;
    min-height: 600px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    > li {
        display: flex;
        justify-content: center;
        width: 190px;
        margin: 0 10px 50px;
    }
}
.result {
    width: 100%;
    margin-top: 50px;
    .result-message {
        width: 100%;
        min-height: 400px;
        display:  flex;
        align-items: center;
        justify-content: center;
        .result-message-text {
        font-size: 2rem;
        font-weight: bold;
}
    }
}
.memberlist {
    display: block;
    width: 190px;
    padding: 20px 10px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 15px;
    text-align: center;
    .memberlist-img {
        width: 130px;
        height: 130px;
        border-radius: 15px;
        margin: 0 auto;
        text-align: center;
        > img {
            border-radius: 5px;
        }
    }.memberlist-name {
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }
}
.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    .pager__page {
        margin: 0 15px;
    }
}