.menu {
    width: 500px;
    margin: 7rem auto 0 auto;
    h2.menu__title{
        text-align: center;
        font-size: 2.5rem;
    }
    .menu__list {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        > li {
            flex: 1;
            text-align: center;
            .menu__item {
                display: inline-block;
                background-color: #fff;
                border: solid 1px #ccc;
                border-radius: 3px;
                padding: .5rem 5rem;
                text-decoration: none;
            }
        }
    }

}